@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes homeDoorTextLeft {
  100% {
    transform: perspective(400px) rotateY(15deg);
  }
}
@keyframes homeDoorTextLeft {
  100% {
    transform: perspective(400px) rotateY(15deg);
  }
}
@-webkit-keyframes homeDoorTextRight {
  100% {
    transform: perspective(400px) rotateY(-15deg);
  }
}
@keyframes homeDoorTextRight {
  100% {
    transform: perspective(400px) rotateY(-15deg);
  }
}
@-webkit-keyframes homeDoorImg {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes homeDoorImg {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
}
@-webkit-keyframes slide-top {
  0% {
    transform: translateY(100px) translateX(-200px);
  }
  100% {
    transform: translateY(0px) translateX(-200px);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(100px) translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(-200px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}
@keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}
@-webkit-keyframes apparition {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  background-color: #ffebd2;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #273248;
}

li {
  list-style-type: none;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.cardContainer .card {
  position: relative;
  width: 41%;
  max-width: 500px;
  height: 270px;
  margin: 30px;
  box-shadow: rgba(39, 50, 72, 0.3) 0px 50px 30px -5px;
}
.cardContainer .card .cardImgDesktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.cardContainer .card .cardImgMobile {
  display: none;
}
.cardContainer .card .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 270px;
  padding: 20px;
  z-index: 1;
  opacity: 0;
}
.cardContainer .card .infos .title {
  font-size: 18px;
}
.cardContainer .card .infos .date {
  margin: 10px 0;
  font-size: 15px;
}
.cardContainer .card .infos .details {
  text-align: justify;
  word-break: break-word;
  font-size: 15px;
}
.cardContainer .card .infos .buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.cardContainer .card .infos .buttonsContainer .buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  font-size: 15px;
  border: 1.5px solid #ffebd2;
  transition: transform 300ms;
}
.cardContainer .card .infos .buttonsContainer .buttonContainer:hover {
  transform: scale(1.1);
}
.cardContainer .card .infos .buttonsContainer .buttonContainer .button {
  color: #ffebd2;
}
.cardContainer .card .infos .buttonsContainer .hiddenButton {
  display: none;
}
.cardContainer .card .infos:hover {
  background-color: #273248;
  color: #ffebd2;
  opacity: 0.8;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
  .cardContainer .card {
    position: relative;
    width: 70%;
    height: 300px;
    margin: 40px;
    box-shadow: rgba(39, 50, 72, 0.3) 0px 50px 30px -5px;
  }
  .cardContainer .card .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    z-index: 1;
    opacity: 0;
  }
  .cardContainer .card .infos .date {
    margin: 0;
  }
  .cardContainer .card .infos .buttonsContainer .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .cardContainer .card {
    width: auto;
  }
  .cardContainer .card .infos {
    padding: 20px;
  }
  .cardContainer .card .infos .date {
    margin: 0;
  }
  .cardContainer .card .infos .buttonsContainer {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .cardContainer .card {
    height: 380px;
    margin: 50px 0;
  }
  .cardContainer .card .cardImgDesktop {
    display: none;
  }
  .cardContainer .card .cardImgMobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    -o-object-position: center center;
       object-position: center center;
  }
  .cardContainer .card .infos {
    height: 100%;
    padding: 15px;
  }
  .cardContainer .card .infos .title {
    margin-bottom: 5px;
  }
  .cardContainer .card .infos .date {
    margin: 5px 0 10px 0;
  }
  .cardContainer .card .infos .details {
    margin-bottom: 10px;
  }
  .cardContainer .card .infos .buttonsContainer {
    margin: 5px;
  }
  .cardContainer .card .infos .buttonsContainer .buttonContainer {
    margin: 0 10px 0 10px;
  }
}
@media screen and (max-width: 320px) {
  .cardContainer .card {
    height: 380px;
    margin: 50px 0;
  }
  .cardContainer .card .cardImgDesktop {
    display: none;
  }
  .cardContainer .card .cardImgMobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    -o-object-position: center center;
       object-position: center center;
  }
  .cardContainer .card .infos {
    height: 100%;
    padding: 15px;
  }
  .cardContainer .card .infos .title {
    font-size: 15px;
  }
  .cardContainer .card .infos .date {
    font-size: 12px;
  }
  .cardContainer .card .infos .details {
    font-size: 12px;
  }
  .cardContainer .card .infos .buttonsContainer {
    justify-content: center;
    margin-top: 10px;
  }
  .cardContainer .card .infos .buttonsContainer .buttonContainer {
    margin: 0 5px 0 5px;
    font-size: 12px;
  }
}/*# sourceMappingURL=card.module.css.map */