@use "../globals.module.scss" as globals;

// MIXINS //

@mixin imgConfiguration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Desktop //

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: fit-content;
  .card {
    position: relative;
    width: 41%;
    max-width: 500px;
    height: 270px;
    margin: 30px;
    box-shadow: rgba(39, 50, 72, 0.3) 0px 50px 30px -5px;
    border-radius: 15px;
    .cardImgDesktop {
      @include imgConfiguration;
      object-position: top center;
      border-radius: 15px;
    }
    .cardImgMobile {
      display: none;
    }
    .infos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 270px;
      padding: 20px;
      z-index: 1;
      opacity: 0;
      border-radius: 15px;
      .title {
        font-size: globals.$font-size-1;
      }
      .date {
        margin: 10px 0;
        font-size: globals.$font-size-xs;
      }
      .details {
        @include globals.textAlignment;
        font-size: globals.$font-size-xs;
      }
      .buttonsContainer {
        display: flex;
        justify-content: space-around;
        margin: 15px 0;
        .buttonContainer {
          @include globals.flexCenterXY;
          width: 90px;
          height: 30px;
          font-size: globals.$font-size-xs;
          border: 1.5px solid globals.$color-5;
          border-radius: 8px;
          transition: transform 300ms;
          &:hover {
            transform: scale(1.1);
          }
          .button {
            color: globals.$color-5;
          }
        }
        .hiddenButton {
          display: none;
        }
      }
      // Affichage des informations sur chaque projet au survol
      &:hover {
        background-color: globals.$color-1;
        color: globals.$color-5;
        opacity: 0.8;
        transition: 0.5s;
      }
    }
  }
}

// Small screens, laptops & Desktop, large screens //

@media screen and (max-width: 1200px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
    .card {
      position: relative;
      width: 70%;
      height: 300px;
      margin: 40px;
      box-shadow: rgba(39, 50, 72, 0.3) 0px 50px 30px -5px;
      .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 300px;
        z-index: 1;
        opacity: 0;
        .date {
          margin: 0;
        }
        .buttonsContainer {
          .buttonContainer {
            @include globals.flexCenterXY;
            width: 110px;
            height: 35px;
          }
        }
      }
    }
  }
}

// iPads, Tablets //

@media screen and (min-width: 600px) and (max-width: 768px) {
  .cardContainer {
    .card {
      width: auto;
      .infos {
        padding: 20px;
        .date {
          margin: 0;
        }
        .buttonsContainer {
          width: 70%;
          margin: 0 auto;
        }
      }
    }
  }
}

// Tablets, Mobile devices //

@media screen and (min-width: 320px) and (max-width: 599px) {
  .cardContainer {
    .card {
      height: 380px;
      margin: 50px 0;
      border-radius: 15px;
      .cardImgDesktop {
        display: none;
      }
      .cardImgMobile {
        @include imgConfiguration;
        display: block;
        object-position: center center;
        border-radius: 15px;
      }
      .infos {
        height: 100%;
        padding: 15px;
        border-radius: 15px;
        .title {
          margin-bottom: 5px;
        }
        .date {
          margin: 5px 0 10px 0;
        }
        .details {
          margin-bottom: 10px;
        }
        .buttonsContainer {
          margin: 5px;
          .buttonContainer {
            margin: 0 10px 0 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .cardContainer {
    .card {
      height: 380px;
      margin: 50px 0;
      .cardImgDesktop {
        display: none;
      }
      .cardImgMobile {
        @include imgConfiguration;
        display: block;
        object-position: center center;
      }
      .infos {
        height: 100%;
        padding: 15px;
        .title {
          font-size: globals.$font-size-xs;
        }
        .date {
          font-size: globals.$font-size-xxs;
        }
        .details {
          font-size: globals.$font-size-xxs;
        }
        .buttonsContainer {
          justify-content: center;
          margin-top: 10px;
          .buttonContainer {
            margin: 0 5px 0 5px;
            font-size: globals.$font-size-xxs;
          }
        }
      }
    }
  }
}
