@use "../globals.module.scss" as globals;

// Desktop //

.contactContainer {
  @include globals.flexCenterXY;
  flex-direction: column;
  //height: 700px;
  height: 100vh;
  background-color: globals.$color-1;
  color: globals.$color-5;
  overflow-x: hidden; // Fix du bug de la navbar fixed qui disparaît au moment des animations appliquées à la section
  .contactTitle {
    @include globals.sectionTitleDesktop;
    padding-bottom: 70px;
  }
  .contactAnimate {
    -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .socialMediaContainer {
    display: flex;
    justify-content: center;
    .linkedinLogoAnimate {
      animation: slide-in-left 3s ease 0s 1 normal forwards;
    }
    .githubLogoAnimate {
      animation: slide-in-right 3s ease 0s 1 normal forwards;
    }
  }
  .curriculumContainer {
    font-size: globals.$font-size-4;
    opacity: 0;
    animation: apparition 1.5s ease 0.5s 1 normal forwards;
    .curriculumLink {
      color: globals.$color-5;
    }
  }
  .emailAndSecretContainer {
    .emailContainer {
      display: flex;
      justify-content: space-around;
      max-width: 500px;
      margin-top: 50px;
      padding: 20px 30px;
      font-size: globals.$font-size-3;
      border: 2px solid;
      .emailText {
        color: globals.$color-5;
      }
      .emailIcon {
        margin: 5px 25px 0 0;
      }
    }
    .secretContainer {
      display: flex;
      justify-content: center;
      font-size: globals.$font-size-3;
      .secretText {
        margin-top: 40px;
        animation: scrollingDown 2s ease-in-out;
        color: globals.$color-5;
      }
    }
  }
}

// Tablets //

@media screen and (max-width: 768px) and (min-width: 481px) {
  .contactContainer {
    .curriculumContainer {
      font-size: globals.$font-size-2;
    }
    .emailAndSecretContainer {
      width: 350px;
      .emailContainer {
        font-size: globals.$font-size-1;
      }
      .secretContainer {
        .secretText {
          font-size: globals.$font-size-xs;
        }
      }
    }
  }
}

// Mobiles //

@media screen and (max-width: 480px) {
  .contactContainer {
    .contactTitle {
      @include globals.sectionTitleMobile;
    }
    .emailAndSecretContainer {
      width: 270px;
      .emailContainer {
        font-size: globals.$font-size-xs;
      }
      .emailIcon {
        margin: 5px 10px 0 0;
      }
    }
  }
}
