@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  background-color: #ffebd2;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #273248;
}

li {
  list-style-type: none;
}

@-webkit-keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}

@keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}
@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contactContainer {
  background-color: #273248;
  color: #ffebd2;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactContainer .contactTitle {
  font-family: "Permanent Marker", sans-serif;
  font-size: 35px;
  padding-bottom: 50px;
  letter-spacing: 3px;
}
.contactContainer .contactAnimate {
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.contactContainer .socialMediaContainer {
  display: flex;
  justify-content: center;
}
.contactContainer .socialMediaContainer .linkedinLogoAnimate {
  -webkit-animation: slide-in-left 3s ease 0s 1 normal forwards;
          animation: slide-in-left 3s ease 0s 1 normal forwards;
}
.contactContainer .socialMediaContainer .githubLogoAnimate {
  -webkit-animation: slide-in-right 3s ease 0s 1 normal forwards;
          animation: slide-in-right 3s ease 0s 1 normal forwards;
}
.contactContainer .curriculumContainer {
  opacity: 0;
  font-size: 35px;
  -webkit-animation: apparition 3s ease 1s 1 normal forwards;
          animation: apparition 3s ease 1s 1 normal forwards;
}
.contactContainer .curriculumContainer .curriculumLink {
  color: #ffebd2;
}
.contactContainer .emailAndSecretContainer .emailContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 24px;
  border: 2px solid;
  width: 500px;
  padding: 20px 30px;
}
.contactContainer .emailAndSecretContainer .emailContainer .emailText {
  color: #ffebd2;
}
.contactContainer .emailAndSecretContainer .emailContainer .emailIcon {
  margin: 5px 25px 0 0;
}
.contactContainer .emailAndSecretContainer .secretContainer {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.contactContainer .emailAndSecretContainer .secretContainer .secretText {
  -webkit-animation: scrollingDown;
          animation: scrollingDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  color: #ffebd2;
  margin-top: 40px;
}/*# sourceMappingURL=contact.module.css.map */