@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  background-color: #ffebd2;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #273248;
}

li {
  list-style-type: none;
}

.footerContainer {
  height: 120px;
  background-color: #fc7643;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerContainer .footerText {
  text-align: center;
}
.footerContainer .footerText .footerLink {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .footerContainer {
    font-size: 18px;
  }
}/*# sourceMappingURL=footer.module.css.map */