@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes homeDoorTextLeft {
  100% {
    transform: perspective(400px) rotateY(15deg);
  }
}
@keyframes homeDoorTextLeft {
  100% {
    transform: perspective(400px) rotateY(15deg);
  }
}
@-webkit-keyframes homeDoorTextRight {
  100% {
    transform: perspective(400px) rotateY(-15deg);
  }
}
@keyframes homeDoorTextRight {
  100% {
    transform: perspective(400px) rotateY(-15deg);
  }
}
@-webkit-keyframes homeDoorImg {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes homeDoorImg {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
}
@-webkit-keyframes slide-top {
  0% {
    transform: translateY(100px) translateX(-200px);
  }
  100% {
    transform: translateY(0px) translateX(-200px);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(100px) translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(-200px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}
@keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}
@-webkit-keyframes apparition {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  background-color: #ffebd2;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #273248;
}

li {
  list-style-type: none;
}

.homeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 120px 0 70px 0;
  background-color: #273248;
}
.homeContainer .homeTitle {
  text-align: center;
  font-family: "Permanent Marker", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  margin-top: 40px;
  color: #fc7643;
}
.homeContainer .titleAnimate {
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.homeContainer .homeWrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 35px 0;
}
.homeContainer .homeWrapper .textContainerLeft {
  text-align: justify;
  word-break: break-word;
  width: 300px;
  max-width: 350px;
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fc7643;
  -webkit-animation: 4s ease-out forwards homeDoorTextLeft;
          animation: 4s ease-out forwards homeDoorTextLeft;
}
.homeContainer .homeWrapper .img {
  height: 250px;
  margin: 25px 20px 0 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -5px;
  filter: blur(6px);
}
.homeContainer .homeWrapper .animateImg {
  -webkit-animation: 3s ease-out forwards homeDoorImg;
          animation: 3s ease-out forwards homeDoorImg;
}
.homeContainer .homeWrapper .textContainerRight {
  text-align: justify;
  word-break: break-word;
  width: 300px;
  max-width: 350px;
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fc7643;
  -webkit-animation: 4s ease-out forwards homeDoorTextRight;
          animation: 4s ease-out forwards homeDoorTextRight;
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .homeContainer .homeWrapper {
    width: 90%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .homeContainer .homeWrapper {
    width: 90%;
  }
  .homeContainer .homeWrapper .img {
    margin: 25px 25px 0 25px;
  }
}
@media screen and (min-width: 369px) and (max-width: 890px) {
  .homeContainer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 50px;
  }
  .homeContainer .homeWrapper {
    flex-direction: column;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .homeContainer .homeWrapper .textContainerLeft {
    -webkit-animation: none;
            animation: none;
  }
  .homeContainer .homeWrapper .img {
    margin: 50px 0;
  }
  .homeContainer .homeWrapper .textContainerRight {
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (max-width: 480px) {
  .homeContainer {
    height: auto;
  }
  .homeContainer .homeTitle {
    text-align: center;
    font-family: "Permanent Marker", sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    margin: 20px 0;
  }
  .homeContainer .homeWrapper {
    flex-direction: column;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .homeContainer .homeWrapper .textContainerLeft {
    font-size: 18px;
    -webkit-animation: none;
            animation: none;
  }
  .homeContainer .homeWrapper .img {
    height: 200px;
    margin: 50px 0;
  }
  .homeContainer .homeWrapper .textContainerRight {
    font-size: 18px;
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (max-width: 330px) {
  .homeContainer .homeWrapper .textContainerLeft, .homeContainer .homeWrapper .textContainerRight {
    width: 250px;
  }
}/*# sourceMappingURL=home.module.css.map */