@use "../globals.module.scss" as globals;

.headerContainer {
  background-color: globals.$color-3;
  font-size: globals.$font-size-2;
  color: globals.$color-1;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  letter-spacing: 2px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  .navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .navbarItem {
      display: flex;
      .navbarIcon {
        display: none;
      }
    }
    .active {
      color: globals.$color-5;
      transition: 0.4s;
    }
  }
}

/* ---------- MOBILE (max-width: 890px) ---------- */

@media screen and (max-width: 890px) {
  .headerContainer {
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 480px) {
  .headerContainer {
    font-size: globals.$font-size-1;
    .navbarContainer {
      .navbarItem {
        .navbarIcon {
          display: inline;
          font-size: globals.$font-size-3;
        }
        .navbarText {
          display: none;
        }
      }
    }
  }
}

/* ---------- IPAD, TABLETS (min-width: 481px / max-width: 768px) ---------- */

/* ---------- SMALL SCREENS, LAPTOPS (min-width: 769px / max-width: 1024px) ---------- */

/* ---------- DESKTOP, LARGE SCREENS (min-width: 1025px / max-width: 1200px) ---------- */

/* ---------- EXTRA LARGE SCREENS (min-width: 1201px) ---------- */