@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes homeDoorTextLeft {
  100% {
    transform: perspective(400px) rotateY(15deg);
  }
}
@keyframes homeDoorTextLeft {
  100% {
    transform: perspective(400px) rotateY(15deg);
  }
}
@-webkit-keyframes homeDoorTextRight {
  100% {
    transform: perspective(400px) rotateY(-15deg);
  }
}
@keyframes homeDoorTextRight {
  100% {
    transform: perspective(400px) rotateY(-15deg);
  }
}
@-webkit-keyframes homeDoorImg {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes homeDoorImg {
  0% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
}
@-webkit-keyframes slide-top {
  0% {
    transform: translateY(100px) translateX(-200px);
  }
  100% {
    transform: translateY(0px) translateX(-200px);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(100px) translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(-200px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(300px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}
@keyframes scrollingDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }
}
@-webkit-keyframes apparition {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  background-color: #ffebd2;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #273248;
}

li {
  list-style-type: none;
}

.popupContainer {
  text-align: justify;
  word-break: break-word;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 280px;
  padding: 25px;
  color: #273248;
  background-color: #ffebd2;
  border: 2px solid #273248;
  opacity: 0.9;
  overflow-y: scroll;
}
.popupContainer .popupTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}
.popupContainer .popupText {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  font-size: 18px;
}
.popupContainer .closeButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100px;
  padding: 10px 20px;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #ffebd2;
  color: #273248;
  border: 2px solid #273248;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .popupContainer .popupTitle {
    font-size: 22px;
  }
  .popupContainer .popupText {
    margin-bottom: 60px;
    font-size: 15px;
  }
  .popupContainer .closeButton {
    font-size: 15px;
  }
}/*# sourceMappingURL=popup.module.css.map */