@use "../globals.module.scss" as globals;

// Desktop //

.logoContainer {
  @include globals.flexCenterXY;
  flex-direction: column;
  width: 120px;
  margin: 40px 40px;
  padding: 30px;
  background-color: #ffebd2;
  border-radius: 50%;
  .img {
    max-width: 50px;
  }
}

// Tablets, mobiles // 

@media screen and (max-width: 500px) {
  .logoContainer {
    margin: 20px 20px;
  }
}

// Mobiles //

@media screen and (max-width: 319px) {
  .logoContainer {
    .img {
      height: 50px;
    }
  }
}