@use "../globals.module.scss" as globals;

.logoContainer {
  width: 120px;
  border-radius: 50%;
  background-color: #ffebd2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 40px 40px;
}

.img {
  height: fit-content;
  max-width: 50px;
}

@media screen and (max-width: 500px) {
  .logoContainer {
    margin: 20px 20px;
  }
}