@use "../globals.module.scss" as globals;

// KEYFRAMES

 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px) translateX(-200px);
            transform: translateY(100px) translateX(-200px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(-200px);
            transform: translateY(0px) translateX(-200px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px) translateX(-200px);
            transform: translateY(100px) translateX(-200px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px) translateX(-200px);
            transform: translateY(0px) translateX(-200px);
            opacity: 1;
  }
}



// ******************* //

.trainingContainer {
  background-color: globals.$color-2;
  color: globals.$color-5;
  width: 100%;
  height: 2100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // Fix du bug de la navbar fixed qui disparaît au moment de l'animation sur les skills :
  overflow-x: hidden;
  .trainingTitle {
    font-family: globals.$font-family-2;
    font-size: globals.$font-size-4;
    text-align: center;
    letter-spacing: 3px;
  }
  .trainingAnimate {
    -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .boxTimeline {
    display: flex;
    width: 100%;
    height: 1870px;
    position: relative;
    padding: 80px 0 250px 0;
    .ligne {
      height: 1600px;
      width: 7px;
      margin: 0 auto;
      background: globals.$color-5;
    }
    .rond {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: globals.$color-5;
      position: absolute;
      border: 1px solid globals.$color-5;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      .timelineIcon {
        color: globals.$color-2;
        font-size: globals.$font-size-3;
      }
    }
    /* 1000 - 160 + 80 / 3 =~ 306 */
    .r1 {
      top: 80px;
    }
    .r2 {
      top: 386px;
    }
    .r3 {
      top: 692px;
    }
    .r4 {
      top: 1050px;
    }
    .r5 {
      top: 1356px;
    }
    .r6 {
      top: 1662px;
    }
    .box {
      display: flex;
      flex-direction: column;
      color: globals.$color-2;
      width: 400px;
      min-height: 150px;
      padding: 20px;
      height: auto;
      background: globals.$color-5;
      box-shadow: rgba(39, 50, 72, 0.3) 0px 50px 30px -5px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      opacity: 0;
      h2 {
        font-size: globals.$font-size-3;
      }
    }
    .boxAnimate {
      -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        forwards;
      animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }
    .b1 {
      top: 80px;
      left: calc(50% - 270px);
    }
    .b2 {
      top: 386px;
      left: calc(50% + 270px);
      //left: calc(50% - 180px);
    }
    .b3 {
      top: 692px;
      left: calc(50% - 270px);
    }
    .b4 {
      top: 1050px;
      left: calc(50% + 270px);
    }
    .b5 {
      top: 1356px;
      left: calc(50% - 270px);
    }
    .b6 {
      top: 1662px;
      left: calc(50% + 270px);
    }

    .box p {
      font-size: globals.$font-size-1;
      margin: 10px 0 10px 0;
      @include globals.textAlignment;
    }
    .box p ul li {
      margin-left: 15px;
      list-style-type: circle;
    }
  }
}

@media screen and (max-width: 1000px) {
  .trainingContainer {
    .boxTimeline {
      .ligne {
        position: relative;
        left: 200px;
      }
      .rond {
        left: calc(50% + 200px);
      }
      .box {
        left: calc(50% - 50px);
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .trainingContainer {
    height: 2350px;
    .boxTimeline {
      height: 2150px;
      .ligne {
        height: 1800px;
        position: relative;
        left: 200px;
      }
      .rond {
        left: calc(50% + 200px);
      }
      .r1 {
        top: 80px;
      }
      .r2 {
        top: 450px;
      }
      .r3 {
        top: 890px;
      }
      .r4 {
        top: 1170px;
      }
      .r5 {
        top: 1560px;
      }
      .r6 {
        top: 1870px;
      }
      .box {
        width: 300px;
        left: calc(50% + 30px);
      }
      .b1 {
        top: 80px;
      }
      .b2 {
        top: 450px;
      }
      .b3 {
        top: 890px;
      }
      .b4 {
        top: 1170px;
      }
      .b5 {
        top: 1560px;
      }
      .b6 {
        top: 1870px;
      }
      
    }
  }
}

@media screen and (max-width: 480px) {
  .trainingContainer {
    height: 2330px;
    margin: 0 auto;
    .trainingTitle {
      font-size: globals.$font-size-3;
    }
    .boxTimeline {
      height: 2150px;
      .ligne {
        display: none;
      }
      .rond {
        left: calc(50% + 150px);
        z-index: 1;
        border: 2px solid globals.$color-2;
      }
      .r1 {
        top: 65px;
      }
      .r2 {
        top: 435px;
      }
      .r3 {
        top: 870px;
      }
      .r4 {
        top: 1150px;
      }
      .r5 {
        top: 1540px;
      }
      .r6 {
        top: 1850px;
      }
      .box {
        left: calc(50% + 50px);
      }
    }
  }
}

@media screen and (max-width: 380px) and (min-width: 321px) {
  .trainingContainer {
    height: 2200px;
    margin: 0 auto;
    .trainingTitle {
      font-size: globals.$font-size-3;
    }
    .boxTimeline {
      height: 2000px;
      .ligne {
        display: none;
      }
      .box {
        margin-left: 20px;
        width: 240px;
        height: auto;
        & h2 {
          font-size: globals.$font-size-1;
        }
        & p {
          font-size: globals.$font-size-xs;
        }
      }

      .rond {
        left: calc(50% + 110px);
        z-index: 1;
        border: 2px solid globals.$color-2;
      }
      .r1 {
        top: 60px;
      }
      .r2 {
        top: 400px;
      }
      .r3 {
        top: 800px;
      }
      .r4 {
        top: 1080px;
      }
      .r5 {
        top: 1440px;
      }
      .r6 {
        top: 1730px;
      }
      .box {
        left: calc(50% + 50px);
      }
      .b1 {
        top: 80px;
      }
      .b2 {
        top: 420px;
      }
      .b3 {
        top: 820px;
      }
      .b4 {
        top: 1100px;
      }
      .b5 {
        top: 1460px;
      }
      .b6 {
        top: 1750px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .trainingContainer {
    height: 2130px;
    .boxTimeline {
      height: 1980px;
    }
  }
}