@use "../globals.module.scss" as globals;

// Desktop //

.workContainer {
  padding-bottom: 70px;
  color: globals.$color-1;
  overflow-x: hidden; // Fix du bug de la navbar fixed qui disparaît au moment des animations appliquées à la section
  .workTitle {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    font-family: globals.$font-family-2;
    font-size: globals.$font-size-4;
    letter-spacing: 3px;
  }
  .workAnimate {
    -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

// Mobile //

@media screen and (max-width: 480px) {
  .workContainer {
    .workTitle {
      font-size: globals.$font-size-3;
    }
  }
}
